
h1{
    background-color: rgb(233, 219, 155);
    text-align: center;
    color:red;
}

.p1 {
    color:rgb(20, 5, 74);
    text-align: center;
}
h2{
    background-color:burlywood;
    text-align: center;
    color:rgb(26, 9, 103)
}
.p2 {
    color: rgb(33, 84, 180);
    text-align: center;
    
}