/* Umum */
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background: #333;
    color: white;
    padding: 1em;
    text-align: center;
  }
  
  header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  header nav ul li {
    margin: 0 15px;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  .hero {
    background: #3498db;
    color: white;
    padding: 50px 20px;
    text-align: center;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  article {
    background: white;
    padding: 20px;
    margin: 10px;
    flex: 1 1 calc(33.333% - 40px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: calc(33.333% - 40px);
  }
  
  footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
  }
  
  /* Responsif */
  @media (max-width: 768px) {
    header nav ul {
      flex-direction: column;
    }
  
    article {
      flex: 1 1 calc(50% - 40px);
      max-width: calc(50% - 40px);
    }
  }
  
  @media (max-width: 480px) {
    article {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }
  